certifi==2024.8.30
customtkinter==5.2.2
darkdetect==0.8.0
distlib==0.3.8
filelock==3.16.0
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pillow==10.4.0
pipenv==2024.0.2
platformdirs==4.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.1.0
six==1.16.0
Tcl==0.2
tk==0.1.0
tkinterdnd2==0.4.2
tzdata==2024.2
virtualenv==20.26.4
XlsxWriter==3.2.0